<h4>Sign In</h4>
<br>
<div class="messageContainer"></div>
<form action="/signin" method="POST">
    Email<input type="email" name="email">
    Password<input type="password" name="password" >
    <input type="submit" value='Sign In' class="game-start">
</form>
<br>
<div><a href="partials\forgot-password-email.hbs">Forgot Password</a></div>